.graphcalc {
    background-color: #F0F0F0;
    border: solid 1px lightgray;
}

.graphcalc .show {
    text-align: center;
}

.graphcalc canvas {
    border: black solid 1px;
    background-color: rgb(214, 244, 252);
/*	margin-left: 10px; */
	margin-top: 10px;
	margin-bottom: 10px;
    background: -webkit-radial-gradient(circle, #FFFFFF, #D0D0D0);
    background: -moz-radial-gradient(circle, #FFFFFF, #D0D0D0);
}
    
.graphcalc label {
/*    margin-left: 10px;*/
    font-size: 16pt;
    font-family: "Palatino Linotype", sans-serif;
}

.graphcalc button{
/*	margin-left: 10px;*/
    font-size: 16pt;
    font-family: "Palatino Linotype", sans-serif;
    margin: 5px;
}

.graphcalc .floatDiv {
    float: left;
    width: 420px;
}

.graphcalc .inputButton {
    height: 55px;
    width: 60px;
}

.graphcalc .longButton {
    height: 55px;
    width: 130px;
}

.graphcalc .showButton {
    padding: 10px;
}

.graphcalc input{
    font-size: 16pt;
    font-family: "Palatino Linotype", sans-serif;
    border-radius: 10px;
    background-color: #EFFAC8;
}
.graphcalc input:hover {
    background-color: #D9E5C2;
}
.graphcalc input:focus {
    background-color: #E9F5D2;
}

.graphcalc #input1{
    width: 361px;
}
.graphcalc #input2{
    width: 131px;
}