.chart {
    border: 1px solid gray;
}
.chart rect {
    fill: rgb(100,50,150);
    stroke: white;
}
.chart text {
    font: 10px sans-serif;
}
.chart .bar-label {
    fill: orange;
}
.chart .yscale-label {
    fill: blue;
}
.chart line {
    stroke: gray;
}