.chart {
    border: 1px solid gray;
    float: left;
}
.chart rect {
    stroke: white;
}
.chart rect:hover {
    fill: rgb(160,80,240);
    stroke: white;
}
.chart text {
    font: 10px sans-serif;
}
.chart .bar-label {
    fill: orange;
}
.chart .yscale-label {
    fill: gray;
}
.chart line {
    stroke: gray;
}

.pie {
    border: 1px solid lightgray;
    float: left;
    margin-left: 10px;
    stroke: white
}